.container {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

header {
    font-size: 1.5rem;
    text-align: center;
}

.loader {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.active_loader {
    display: flex;
}

.comments {
    margin-bottom: 20px;
    height: 520px;
}

.comments ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
}

.comment {
    margin-bottom: 20px;
}

.comment_info {
    position: relative;
    padding: 3px;
    display: flex;
    background-color: beige;
    border-bottom: 1px solid black;
}

.comment_id {
    font-weight: 700;
}

.comment_name {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 30px;
}

.comment_email {
    position: absolute;
    right: 0;
}

.comment_text {
    padding: 5px;
    background-color: azure;
}

.btn_wrap {
    width: 925px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .3rem;
}

.btn_wrap input {
    width: 2rem;
    background-color: rgb(213, 213, 255);
    color: blue;
    border: none;
    padding: .5rem;
    border-radius: 5px;
}

.btn_wrap input:hover {
    cursor: pointer;
}

input.active {
    background-color: blue;
    color: rgb(213, 213, 255);
}


.btn_prev,
.btn_next {
    cursor: pointer;
    color: #fff;
    margin-top: 15px;
    background-color: blue;
    height: 2rem;
    width: 4rem;
    border-color: rgb(108, 108, 246);
    box-shadow: 3px 3px 5px rgb(108, 108, 246);
    border-radius: 10px;
}

.btn_prev:disabled,
.btn_next:disabled {
    box-shadow: none;
    background-color: rgba(239, 239, 239, 0.3);
    color: rgba(16, 16, 16, 0.3);
    border-color: rgba(118, 118, 118, 0.3);
    cursor: default;
}